* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn {
  margin: 30px;
  min-width: 124px;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 8px;
  font-weight: bold;
  transition: ease 0.3s;
}

.btn:hover {
  background-color: #4c9bf6;

  color: white;
  border-color: #4c9bf6;
}

.popin__backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}

.popin--show {
  opacity: 1;
  visibility: visible;
}

.popin--show .popin__container {
  transform: scale(1);
}

.popin__container {
  position: relative;
  width: min(600px, 90%);
  padding: 20px 20px 0;
  border-radius: 10px;
  background-color: #fff;
  transform: scale(0);
  transition: transform 0.3s;
}
.popin__close {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  outline: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #666;
  background-color: #ebebeb;
  font-size: 2rem;
  cursor: pointer;
}
.popin__content {
  max-height: 80vh;
  overflow-y: auto;
}

.popin__btn {
  padding: 8px 20px;
  color: #fff;
  background-color: #464e63;
}

.popin__btn--primary {
  background-color: #377aad;
}

.popin__btn--danger {
  background-color: #cc4e27;
}

.popin__btn--pull-left {
  margin-right: auto;
}
.popin--no-scroll {
  overflow: hidden;
}

.popin__footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 20px 0;
}
